$Black: #000;
$Nero: #282828;
$Charcoal: #484848;
$Matterhorn: #545454;
$Nobel: #959595;
$VeryLightGrey: #cbcbcb;
$Gainsboro: #dbdbdb;
$WhiteSmoke: #f8f8f8;
$White: #fff;

$BurntOrange: #ff7c2e;
$Geraldine: #ee7171;
$DodgerBlue: #2196f3;
